<footer>

    <nav class="nav-footer">

        <ul>
            <li><a href="contact.html">Contact</a></li>
                </ul>

        <ul>
            <li><a href="#">Follow Me</a></li>
                </ul>
    </nav>
    
</footer>

<script src="../js/app.js"></script>
<script src="../js/animation.js"></script>
</body>
</html>